1 VERSIONINFO
FILEVERSION 4,8,0,0
PRODUCTVERSION 4,8,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "00000409"
  {
   VALUE "CompanyName", "Department of Water and Sanitation\000"
   VALUE "ProductName", "Water Resource Modeling Framework\000"
   VALUE "ProductVersion", "4.8.0.0\000"
   VALUE "FileDescription", "Water Resource Modeling Framework\000"
   VALUE "FileVersion", "4.8.0.0\000"
   VALUE "LegalCopyright", "Copyright © 2019 DWS\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0, 1033
 }
}
MAINICON ICON DLLProjects\Graphics\General\MainIcon.ICO

